* {
    padding-left: 15px;
    padding-right: 15px;
}

#navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#search {
    padding: 5px;
    height: 30px;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    border: 2px solid #ebebeb;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#searchBar1,
#searchBar2 {
    padding: 10px;
    border-right: 1px solid #ebebeb;
}

#searchBar3 {
    padding: 5px;
    color: #9a9a9a;
    display: flex;
    align-items: center;
}

#searchBar3 p {
    padding-right: 10px;
}

#searchBTN {
    background-color: #ff385c;
    width: 20px;
    height: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 50%;
}

#languageBTN {
    background-color: transparent;
    padding: 5px;
    border: none;
    display: flex;
    justify-content: center;
    width: 25px;
    height: 25px;
}

#languageBTN:hover {
    background-color: rgb(245, 237, 237);
    padding: 5px;
    border: none;
    display: flex;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;

}

#icons {
    display: flex;
    align-items: center;

}

#home {
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 20px;
    background-color: transparent;
}

#home:hover {
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 20px;
    background-color: rgb(245, 237, 237);
}

#menuBTN {
    background-color: transparent;
    padding: 5px;
    border: none;
    display: flex;
    justify-content: center;
    width: 25px;
    height: 25px;
}

#personBTN {
    background-color: transparent;
    padding: 5px;
    border: none;
    display: flex;
    justify-content: center;
    width: 25px;
    height: 25px;
}

#menu {
    padding: 5px;
    display: flex;
    align-items: center;
    border: 2px solid #ebebeb;
    border-radius: 100px;
}

#uList {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

}

#uList li {
    padding-bottom: 20px;

    font-size: 12px;
    text-align: center;
    padding-right: 1px;
}

#uList li:hover {
    font-size: 12px;
    text-align: center;
    padding-right: 1px;
    border-bottom: 2px solid black;
    padding-bottom: 15px;




}









.cardContainer {
    display: grid;
    grid-template-columns: 300px  300px 300px 300px  ;
    grid-template-rows: 450px 450px 450px;
    /* grid-gap: 5px; */
    justify-content: space-between;

    height: 100%;
    /* padding: 0px; */
    /* background-color: red; */
}

.card {
    /* background-color: rgb(245, 12, 12); */
    width: 300px;
    height: 450px;
    border-radius: 20px;
    padding: 0;
}
.photo{
    padding: 0;
}
.img2 {
    padding: 0;
     position: relative;
    top: 5px;
    left: 0;
    width: 300px;
    height: 300px;
    border-radius: 20px; 

}

/* .icn {
    position: ;
    top: 200px;
    left: 310px;
    width: 24px;
    height: 32px;
} */

.details {
    padding: 0;
    padding-top: 10px;
    /* padding-bottom: 5px; */
    padding-left: 10px;
    /* padding-right: 10px; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
} 

.title {
    /* padding-bottom:5px ; */
    padding: 0;
    /* font-weight: bolder; */
}

.bio {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

.date {
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;

}

.price {
    padding: 0;
    font-weight: bolder;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;

}

.rated {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rate{
    padding: 0;
}
.time{
    padding: 0;
}
.map{
    position: fixed;
    top: 90%;
    left: 49%;
    background-color: #222222;
    color: white;
    padding: 15px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 25px;
}